body {
	font-family: fantasy;
}

main div {
	width: 200px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}
#input-todo {
	width: 300px;
	border-radius: 5px;
	border: none;
	padding: 6px 16px;
	outline: none;
	margin-top: 4px;
	margin-right: 6px;
}

button {
	border-radius: 5px;
	border: none;
	padding: 4px 16px;
	margin-top: 4px;
	background-color: rgb(252, 135, 154);
	color: white;
}

button:hover {
	cursor: pointer;
	background-color: rgb(255, 51, 51);
	color: black;
}

p {
	overflow-wrap: break-word;
}

#edit-zone {
	overflow-wrap: break-word;
	text-align: left;
	background-color: rgb(255, 248, 239);
	width: 150px;
	height: 60px;
	border-radius: 2px;
	font-family: fantasy;
	font-size: 16px;
}

.title {
	margin-top: 5px;
	font-weight: bold;
	color: rgb(82, 82, 82);
}
.input-area {
	width: 646px;
	height: 40px;
	background-color: rgb(252, 235, 170);
	text-align: center;
	margin: 4px;
	border-radius: 10px;
	padding-top: 3px;
}

.todo-area {
	background-color: rgb(159, 255, 255);
}

.dropzone {
	min-height: 100px;
	border-radius: 20px;
	margin: 4px;
	padding: 4px;
	padding-bottom: 50px;
}

.doing-area {
	background-color: rgb(253, 255, 154);
}

.done-area {
	background-color: rgb(255, 193, 255);
}

.list-row {
	text-align: left;
	background-color: rgb(255, 248, 239);
	margin: 4px;
	padding-left: 8px;
	padding-right: 8px;
	width: 150px;
	border-radius: 2px;
}

.delete-area {
	background-color: rgb(185, 114, 243);
	border-radius: 10px;
	margin: 4px;
	padding-top: 4px;
	text-align: center;
	font-size: 25px;
	width: 646px;
	height: 45px;
}
.dropzone-d {
	background-color: rgb(185, 114, 243);
	border-radius: 10px;
	padding-top: 2px;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	color: rgb(82, 82, 82);
}

.dropzone:hover {
	cursor: grab;
}
#drag-target:active {
	cursor: grabbing;
}

.dropzone-d:hover {
	cursor: grab;
}
